<div class="uk-grid">
    <div class="uk-width uk-margin">
        <img src="{{ detailsVm.contact.largeImageURL }}"/>
        <span ng-if="detailsVm.contact.isFavorite">&#11088;</span>
        <h4>{{ detailsVm.contact.name }}</h4>
        <span>{{ detailsVm.contact.companyName }}</span>
        <hr>
    </div>
    <div class="uk-width" ng-repeat="(key, value) in detailsVm.contact.phone">
        Phone:
        <span>{{ value }}</span>  <span>{{ key }}</span>
        <hr>
    </div>
    <div class="uk-width">
        Address:
        <div>
            <p>{{ detailsVm.contact.address.street }}</p>
            <p>{{ detailsVm.contact.address.city }}, {{ detailsVm.contact.address.state }}
                {{ detailsVm.contact.address.zipCode }}, {{ detailsVm.contact.address.country }}
            </p>
        </div>
        <hr>
    </div>
    <div class="uk-width">
        Birthdate: {{ detailsVm.contact.birthdate }}
        <hr>
    </div>
    <div class="uk-width">
        Email: {{ detailsVm.contact.emailAddress }}
    </div>
</div>
