<div class="uk-grid">
    <div class="uk-width">
        <h2>Contacts</h2>
        <h4>Favorite Contacts</h4>
        <div ng-repeat="contact in listVm.contacts">
            <a ui-sref="details({ id: contact.id })">
                <contact-list-element
                    ng-if="contact.isFavorite"
                    name="{{ contact.name }}"
                    company="{{ contact.companyName }}"
                    image="{{ contact.smallImageURL }}"
                    favorite="true"
                ></contact-list-element>
            </a>
        </div>

        <h4>Other Contacts</h4>
        <div ng-repeat="contact in listVm.contacts">
            <a ui-sref="details({ id: contact.id })">
                <contact-list-element
                    ng-if="!contact.isFavorite"
                    name="{{ contact.name }}"
                    company="{{ contact.companyName }}"
                    image="{{ contact.smallImageURL }}"
                    favorite="false"
                ></contact-list-element>
            </a>
        </div>
    </div>
</div>
