<div class="contact-list">
    <h2 class="list-header">Contacts</h2>
    <h4 class="uk-text-uppercase list-subheader">Favorite Contacts</h4>
    <div ng-repeat="contact in listVm.contacts" class="list-element-wrapper">
        <a ui-sref="details({ id: contact.id })">
            <contact-list-element
                ng-if="contact.isFavorite"
                name="{{ contact.name }}"
                company="{{ contact.companyName }}"
                image="{{ contact.smallImageURL }}"
                favorite="true"
            ></contact-list-element>
        </a>
    </div>

    <h4 class="uk-text-uppercase list-subheader">Other Contacts</h4>
    <div ng-repeat="contact in listVm.contacts">
        <a ui-sref="details({ id: contact.id })">
            <contact-list-element
                ng-if="!contact.isFavorite"
                name="{{ contact.name }}"
                company="{{ contact.companyName }}"
                image="{{ contact.smallImageURL }}"
                favorite="false"
            ></contact-list-element>
        </a>
    </div>
</div>
