@import '~uikit/dist/css/uikit.min.css';

$primary-text: #000000;
$secondary-text: #C0C0C0;
$border-gray: #DEDEDE;
$backgroung-light-gray: #F7F7F7;
$backgroung-secondary-gray: #F0F0F0;

$base-font-size-small: 10px;
$base-font-size-med: 12px;
$base-font-size-large: 15px;


@media (max-width: 500px) {
    font-size: $base-font-size-small;

    .contact-list {
        .list-element {
            height: 100px;

            .text-info {
                padding-left: 5px;
                font-size: $base-font-size-small;
                
                h4 {
                    margin: 0;
                }
            }

            .image-wrapper {
                width: 60px;
                height: 60px;
                display: inline-block;
                background-image: url('../images/placeholder/User Icon Small.png');
                background-repeat: no-repeat;
            }

            .favorite-icon {
                width: 20px;
                height: 20px;
                margin: 30px auto 10px auto;

                .icon {
                    width: 100%;
                    height: 100%;
                    display: inline-block;
                    background-image: url('../images/star-icon/Favorite — True.png');
                    background-repeat: no-repeat;
                }
            }
        }
    }

    .contact-details {
        .list-header {
            .icon {
                width: 20px;
                height: 20px;
                display: inline-block;
                background-repeat: no-repeat;

                &.favorite {
                    background-image: url('../images/star-icon/Favorite — True.png');
                }
                &.not-favorite {
                    background-image: url('../images/star-icon/Favorite — False.png');
                }
            }
        }

        .image-wrapper {
            width: 150px;
            height: 150px;
            display: inline-block;
            background-image: url('../images/placeholder/User — Large.png');
            background-repeat: no-repeat;
        }

        .label {
            font-size: 1.2 * $base-font-size-small;
        }

        .value {
            font-size: 1.5 * $base-font-size-small;
            font-weight: bold;
        }
    }
}

@media (min-width: 501px) and (max-width: 800px) {
    font-size: $base-font-size-med;

    .contact-list {
        .list-element {
            height: 160px;
            .text-info {
                font-size: 16px;
                padding-left: 10px;

                h4 {
                    font-size: 24px;
                    margin: 0;
                }
            }

            .image-wrapper {
                width: 120px;
                height: 120px;
                display: inline-block;
                background-image: url('../images/placeholder/User Icon Small@2x.png');
                background-repeat: no-repeat;
            }

            .favorite-icon {
                width: 40px;
                height: 40px;
                margin: 30px auto 10px auto;

                .icon {
                    width: 100%;
                    height: 100%;
                    display: inline-block;
                    background-image: url('../images/star-icon/Favorite — True@2x.png');
                    background-repeat: no-repeat;
                }

            }
        }
    }

    .contact-details {
        .list-header {
            .icon {
                width: 40px;
                height: 40px;
                display: inline-block;
                background-repeat: no-repeat;

                &.favorite {
                    background-image: url('../images/star-icon/Favorite — True@2x.png');
                }
                &.not-favorite {
                    background-image: url('../images/star-icon/Favorite — False@2x.png');
                }
            }
        }

        .label {
            font-size: 1.5 * $base-font-size-med;
        }

        .value {
            font-size: 2 * $base-font-size-med;
            font-weight: bold;
        }

        .image-wrapper {
            width: 300px;
            height: 300px;
            display: inline-block;
            background-image: url('../images/placeholder/User — Large@2x.png');
            background-repeat: no-repeat;
        }
    }
}

@media (min-width: 801px) {
    font-size: $base-font-size-large;

    .contact-list {
        .list-element {
            .text-info {
                font-size: 20px;
                padding-left: 10px;

                h4 {
                    font-size: 36px;
                    margin: 0;
                }
            }

            .image-wrapper {
                width: 120px;
                height: 120px;
                display: inline-block;
                background-image: url('../images/placeholder/User Icon Small@2x.png');
                background-repeat: no-repeat;
            }

            .favorite-icon {
                width: 40px;
                height: 40px;
                margin: 40px auto 10px auto;

                .icon {
                    width: 100%;
                    height: 100%;
                    display: inline-block;
                    background-image: url('../images/star-icon/Favorite — True@2x.png');
                    background-repeat: no-repeat;
                }
            }
        }
    }

    .contact-details {
        .list-header {
            .icon {
                width: 40px;
                height: 40px;
                display: inline-block;
                background-repeat: no-repeat;

                &.favorite {
                    background-image: url('../images/star-icon/Favorite — True@2x.png');
                }
                &.not-favorite {
                    background-image: url('../images/star-icon/Favorite — False@2x.png');
                }
            }
        }

        .image-wrapper {
            width: 300px;
            height: 300px;
            display: inline-block;
            background-image: url('../images/placeholder/User — Large@2x.png');
            background-repeat: no-repeat;
        }

        .label {
            font-size: 1.5 * $base-font-size-large;
        }

        .value {
            font-size: 2 * $base-font-size-large;
            font-weight: bold;
        }
    }
}

.contact-list-wrapper {
    hr {
        margin: 0 40px;
    }

    h2 {
        margin: 0;
        border-bottom: 2px solid $border-gray;
    }

    .label {
        color: $secondary-text;

        &.phone {
            color: $border-gray;
        }
    }

    .contact-list {
        margin: auto;
        max-width: 1024px;
        min-width: 320px;
        border: solid 2px $border-gray;

        a {
            text-decoration: none;
        }


        .list-header {
            text-align: center;
            background-color: $backgroung-light-gray;;
            padding: 40px 0 10px 0;
        }

        .list-subheader {
            background-color: $backgroung-secondary-gray;
            text-align: left;
            padding: 10px;
            margin: 0;
        }

        .list-element-wrapper {
            &:hover {
                background-color: $backgroung-light-gray;;
            }
        }
        .list-element {
            .text-info {
                span {
                    color: $secondary-text;
                }
            }
        }
    }

    .contact-details {
        border: 2px solid $border-gray;

        .list-header {
            background-color: $backgroung-light-gray;
            border-bottom: 2px solid $border-gray;
            padding-top: 30px;
            font-size: 20px;
        }

        .contact-company {
            margin-top: 0;
        }

        .contact-name {
            margin-bottom: 0;
        }

    }
}
